-# app/views/repositories/_repo_dropdown.html.haml
-# Top card in the left sidebar. Style aligned with repositories/show.html.haml.
%div{ class: "rounded-2xl border border-indigo-200 overflow-hidden" }
  -# Header
  %div{ class: "bg-indigo-100 px-4 py-3 flex items-center justify-between gap-3" }
    %div{ class: "min-w-0" }
      %h1{ class: "text-sm font-semibold text-gray-900 truncate" } Current Repository

    %div{ class: "shrink-0" }
      = link_to new_repository_path,
        class: "icon-button",
        data: tooltip_data(tip: "New Repository") do
        = svg_icon("folder-plus", class_name: "w-6 h-6")

  -# Body
  %div{ class: "px-4 py-4 space-y-4" }
    - if @repositories.nil? || @repositories.empty?
      %div{ class: "px-2 py-2 space-y-2" }
        %div{ class: "text-center text-sm text-gray-600" }
          No repository found, create one.
        %div{ class: "flex items-center justify-center" }
          = link_to new_repository_path,
            class: "icon-button",
            data: tooltip_data(tip: "New Repository") do
            = svg_icon("arrow-uturn-right", class_name: "w-6 h-6")
    - else
      %div{ class: "space-y-2" }
        - selected_id = @selected_id || @repositories.first.id
        %div{
          data: {
            controller: "repo-switcher",
            repo_switcher_show_frame_id_value: "repo_right",
            repo_switcher_files_frame_id_value: "repo_right",
            repo_switcher_show_url_template_value: "/repositories/__ID__",
            repo_switcher_files_url_template_value: "/repository_files?repository_id=__ID__&path_filter=#{CGI.escape(@path_filter.to_s)}"
          }
        }
          = select_tag :repository_id,
              options_for_select(@dropdown_list.map { |r| [r[:name], r[:id]] }, selected_id),
              class: "dropdown-select w-full",
              data: { action: "change->repo-switcher#change" }