-# frozen_string_literal: true
-# app/views/occurrence_reviews/_diff.html.haml
-#
-# locals:
-#   occ_rev: OccurrenceReview
-#   occ_rev_diff: GithubLikeDiff
-#   status: String
-#   filter_type: String ("lexeme_text" or "file_path")
-#   input_value: String

- diff = occ_rev_diff
- review = occ_rev
- status = status.to_s
- filter_type = (defined?(filter_type) ? filter_type : params[:filter_type]).to_s
- input_value = (defined?(input_value) ? input_value : "").to_s
- text_filter_param = (filter_type == "lexeme_text" ? input_value : "")
- path_filter_param = (filter_type == "file_path" ? input_value : "")

.pp-diff
  .pp-diff-file
    .pp-diff-header
      .pp-diff-header-left
        %span.pp-file-icon= "##{review.id}"
        %span.pp-file-path= diff.path

      .pp-diff-header-right
        - if diff.additions.to_i.positive? || diff.deletions.to_i.positive?
          %span.pp-diff-stats
            %span.pp-add
              = button_to approve_occurrence_review_path(review),
                method: :post,
                params: { page: params[:page], status: status, filter_type: filter_type, text_filter: text_filter_param, path_filter: path_filter_param },
                form: { class: "inline-flex", data: { turbo: false } },
                class: "icon-button" do
                = svg_icon("hand-thumb-up", class_name: "w-5 h-5")
            %span.pp-del
              = button_to reject_occurrence_review_path(review),
                method: :post,
                params: { page: params[:page], status: status, filter_type: filter_type, text_filter: text_filter_param, path_filter: path_filter_param },
                form: { class: "inline-flex", data: { turbo: false } },
                class: "icon-button" do
                = svg_icon("hand-thumb-down", class_name: "w-5 h-5")
        - else
          %span.pp-diff-stats
            %span.pp-neutral No changes

    .pp-diff-body
      %table.pp-diff-table{ cellspacing: 0, cellpadding: 0 }
        %colgroup
          %col.pp-col-lineno
          %col.pp-col-lineno
          %col.pp-col-code

        %tbody
          - diff.rows.each do |row|
            - case row.type
            - when :hunk
              %tr.pp-hunk
                %td.pp-blob-num{ colspan: 2 }
                %td.pp-blob-code
                  %span.pp-blob-code-inner= row.content

            - when :context
              %tr.pp-context
                %td.pp-blob-num.pp-blob-num-context= row.old_lineno
                %td.pp-blob-num.pp-blob-num-context= row.new_lineno
                %td.pp-blob-code.pp-blob-code-context
                  %span.pp-blob-code-inner= h(row.content)

            - when :del
              %tr.pp-del
                %td.pp-blob-num.pp-blob-num-del= row.old_lineno
                %td.pp-blob-num.pp-blob-code-del
                %td.pp-blob-code.pp-blob-code-del
                  %span.pp-blob-code-inner.pp-line-del= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])

            - when :add
              %tr.pp-add
                %td.pp-blob-num.pp-blob-code-add
                %td.pp-blob-num.pp-blob-num-add= row.new_lineno
                %td.pp-blob-code.pp-blob-code-add
                  %span.pp-blob-code-inner.pp-line-add= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])