-# frozen_string_literal: true
-# app/views/occurrence_reviews/_diff.html.haml

- diff = occ_rev_diff
- review = occ_rev
- status = status
.pp-diff
  .pp-diff-file
    .pp-diff-header
      .pp-diff-header-left
        %span.pp-file-icon
          = "##{review.id}"
        %span.pp-file-path= diff.path

      .pp-diff-header-right
        - if diff.additions.to_i.positive? || diff.deletions.to_i.positive?
          %span.pp-diff-stats
            %span.pp-add
              = button_to approve_occurrence_review_path(review),
                method: :post,
                params: { page: params[:page], status: status },
                form: { class: "inline-flex", data: { turbo: false } },
                class: "icon-button",
                onclick: "return window.PopConfirmLog.open(event, this)",
                data: confirm_action_tip(tip: 'Approve', action: 'Confirm', title: 'Apply this change', msg: 'Are you sure you want to apply this change?') do
                = svg_icon("hand-thumb-up", class_name: "w-5 h-5")
            %span.pp-del
              = button_to reject_occurrence_review_path(review),
                method: :post,
                params: { page: params[:page], status: status  },
                form: { class: "inline-flex", data: { turbo: false } },
                class: "icon-button",
                onclick: "return window.PopConfirmLog.open(event, this)",
                data: confirm_action_tip(tip: 'Reject', action: 'Confirm', title: 'Reject this change', msg: 'Are you sure you want to reject this change?') do
                = svg_icon("hand-thumb-down", class_name: "w-5 h-5")
        - else
          %span.pp-diff-stats
            %span.pp-neutral No changes

    .pp-diff-body
      %table.pp-diff-table{ cellspacing: 0, cellpadding: 0 }
        %colgroup
          %col.pp-col-lineno
          %col.pp-col-lineno
          %col.pp-col-code

        %tbody
          - diff.rows.each do |row|
            - case row.type
            - when :hunk
              %tr.pp-hunk
                %td.pp-blob-num{ colspan: 2 }
                %td.pp-blob-code
                  %span.pp-blob-code-inner= row.content

            - when :context
              %tr.pp-context
                %td.pp-blob-num.pp-blob-num-context= row.old_lineno
                %td.pp-blob-num.pp-blob-num-context= row.new_lineno
                %td.pp-blob-code.pp-blob-code-context
                  %span.pp-blob-code-inner= h(row.content)

            - when :del
              %tr.pp-del
                %td.pp-blob-num.pp-blob-num-del= row.old_lineno
                %td.pp-blob-num.pp-blob-code-del
                %td.pp-blob-code.pp-blob-code-del
                  %span.pp-blob-code-inner.pp-line-del= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])

            - when :add
              %tr.pp-add
                %td.pp-blob-num.pp-blob-code-add
                %td.pp-blob-num.pp-blob-num-add= row.new_lineno
                %td.pp-blob-code.pp-blob-code-add
                  %span.pp-blob-code-inner.pp-line-add= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])