-# frozen_string_literal: true
-# app/views/occurrence_reviews/_diff.html.haml

- diff = occ_rev_diff
- review = occ_rev
.pp-diff
  .pp-diff-file
    .pp-diff-header
      .pp-diff-header-left
        %span.pp-file-icon
          = "##{review.id}"
        %span.pp-file-path= diff.path

      .pp-diff-header-right
        - if diff.additions.to_i.positive? || diff.deletions.to_i.positive?
          %span.pp-diff-stats
            %span.pp-add= "+#{diff.additions}"
            %span.pp-del= "-#{diff.deletions}"
        - else
          %span.pp-diff-stats
            %span.pp-neutral No changes

    .pp-diff-body
      %table.pp-diff-table{ cellspacing: 0, cellpadding: 0 }
        %colgroup
          %col.pp-col-lineno
          %col.pp-col-lineno
          %col.pp-col-code

        %tbody
          - diff.rows.each do |row|
            - case row.type
            - when :hunk
              %tr.pp-hunk
                %td.pp-blob-num{ colspan: 2 }
                %td.pp-blob-code
                  %span.pp-blob-code-inner= row.content

            - when :context
              %tr.pp-context
                %td.pp-blob-num.pp-blob-num-context= row.old_lineno
                %td.pp-blob-num.pp-blob-num-context= row.new_lineno
                %td.pp-blob-code.pp-blob-code-context
                  %span.pp-blob-code-inner= h(row.content)

            - when :del
              %tr.pp-del
                %td.pp-blob-num.pp-blob-num-del= row.old_lineno
                %td.pp-blob-num.pp-blob-num-empty
                %td.pp-blob-code.pp-blob-code-del
                  %span.pp-blob-code-inner.pp-line-del= h(row.content)

            - when :add
              %tr.pp-add
                %td.pp-blob-num.pp-blob-num-empty
                %td.pp-blob-num.pp-blob-num-add= row.new_lineno
                %td.pp-blob-code.pp-blob-code-add
                  %span.pp-blob-code-inner.pp-line-add= h(row.content)