%div{id: dom_id(lexeme_processor)}
  %p
    %strong Name:
    = lexeme_processor.name

  %p
    %strong Key:
    = lexeme_processor.key

  %p
    %strong Entrypoint:
    = lexeme_processor.entrypoint

  %p
    %strong Default config:
    = lexeme_processor.default_config

  %p
    %strong Output schema:
    = lexeme_processor.output_schema

  %p
    %strong Enabled:
    = lexeme_processor.enabled

