-# frozen_string_literal: true
-# app/views/occurrences/show.html.haml

- diff = @diff
- occ = @occurrence

- has_del = diff.rows.any? { |r| r.type == :del && r.content.to_s.strip.present? }
- has_add = diff.rows.any? { |r| r.type == :add && r.content.to_s.strip.present? }
- only_del = has_del && !has_add
- only_add = has_add && !has_del
- compact_mode = (only_del || only_add)

.pp-diff
  .pp-diff-file
    .pp-diff-header
      .pp-diff-header-left
        %span.pp-file-icon= "##{occ.id}"
        %span.pp-file-path= diff.path

      .pp-diff-header-right
        - unless has_add || has_del
          %span.pp-diff-stats
            %span.pp-neutral No changes

    .pp-diff-body
      %table.pp-diff-table{ cellspacing: 0, cellpadding: 0 }
        %colgroup
          %col.pp-col-lineno
          - unless compact_mode
            %col.pp-col-lineno
          %col.pp-col-code

        %tbody
          - diff.rows.each do |row|
            - next if row.type == :add && row.content.to_s.strip.blank?
            - next if row.type == :del && row.content.to_s.strip.blank?
            - next if compact_mode && only_del && row.type == :add
            - next if compact_mode && only_add && row.type == :del

            - case row.type
            - when :hunk
              %tr.pp-hunk
                %td.pp-blob-num{ colspan: (compact_mode ? 1 : 2) }
                %td.pp-blob-code
                  %span.pp-blob-code-inner= row.content

            - when :context
              %tr.pp-context
                - if compact_mode
                  - lineno = (only_add ? row.new_lineno : row.old_lineno)
                  %td.pp-blob-num.pp-blob-num-context= lineno
                - else
                  %td.pp-blob-num.pp-blob-num-context= row.old_lineno
                  %td.pp-blob-num.pp-blob-num-context= row.new_lineno
                %td.pp-blob-code.pp-blob-code-context
                  %span.pp-blob-code-inner= h(row.content)

            - when :del
              %tr.pp-del
                - if compact_mode
                  %td.pp-blob-num.pp-blob-num-del= row.old_lineno
                - else
                  %td.pp-blob-num.pp-blob-num-del= row.old_lineno
                  %td.pp-blob-num.pp-blob-num-empty
                %td.pp-blob-code.pp-blob-code-del
                  %span.pp-blob-code-inner.pp-line-del= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])

            - when :add
              %tr.pp-add
                - if compact_mode
                  %td.pp-blob-num.pp-blob-num-add= row.new_lineno
                - else
                  %td.pp-blob-num.pp-blob-num-empty
                  %td.pp-blob-num.pp-blob-num-add= row.new_lineno
                %td.pp-blob-code.pp-blob-code-add
                  %span.pp-blob-code-inner.pp-line-add= sanitize(CGI.unescapeHTML(row.content.to_s), tags: %w[span], attributes: %w[class])