-# app/views/layouts/application.html.haml
!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %title= content_for(:title) || "PatternPatcher"
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }/
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }/
    %meta{ content: "yes", name: "mobile-web-app-capable" }/

    = csrf_meta_tags
    = csp_meta_tag
    = yield :head

    = favicon_link_tag "icons/clipboard-document-check.svg", type: "image/svg+xml"

    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag_all
    = javascript_importmap_tags

  %body
    %div{ class: "w-full min-h-screen flex flex-col gap-[16px]" }
      = render "shared/flash"
      %main{ class: "px-6 flex-1" }
        -# allow nested layouts to override main content without duplicating <head>/<body>
        = content_for?(:layout_main) ? yield(:layout_main) : yield

        = render "shared/confirm_log"