-# app/views/layouts/processor_workspace.html.haml
-# Reuse layouts/application.html.haml (no duplicated <head>/<body>)

- content_for :layout_main do
  %div{ class: "flex h-[85vh]" }

    -# Left: processors (25%)
    %div{ class: "w-[25%] rounded-lg bg-white overflow-hidden flex flex-col" }
      %div{ class: "flex-1 min-h-0 flex flex-col space-y-3" }

        -# 1) Current processor
        = render "lexeme_processors/current_processor"

        -# 2) Scrollable processor show area
        %div{ class: "flex-1 min-h-0 overflow-y-auto space-y-3" }
          = render "lexemes/count"


    -# Divider
    %div{ class: "w-px bg-gray-300 mx-4" }

    -# Right: dynamic area (75%)
    %div{ class: "w-[75%] rounded-lg bg-white overflow-hidden flex flex-col" }
      = turbo_frame_tag "processor_right", class: "flex-1 overflow-y-auto" do
        = yield

= render template: "layouts/application"