-# app/views/layouts/processor_workspace.html.haml

- content_for :layout_main do
  %div{ class: "flex h-screen" }
    -# Left: flex-basis-[22rem]
    %div{ class: "w-[20rem] shrink-0 rounded-lg bg-white overflow-hidden flex flex-col" }
      %div{ class: "flex-1 min-h-0 flex flex-col space-y-3" }
        = render "shared/header"
        = render "lexeme_processors/current_processor"
        = render "shared/rev_nav"
    -# Divider
    %div{ class: "w-px bg-gray-300 mx-4" }

    -# Right: fill remaining width
    %div{ class: "flex-1 min-w-0 rounded-lg bg-white overflow-hidden flex flex-col" }
      = turbo_frame_tag "processor_right", class: "flex-1 overflow-y-auto" do
        = yield
= render template: "layouts/application"