-# app/views/layouts/repository_workspace.html.haml
-# Reuse layouts/application.html.haml (no duplicated <head>/<body>)

- content_for :layout_main do
  %div{ class: "flex h-[85vh]" }
    -# Left: repositories (18%)
    %div{ class: "w-[18%] rounded-lg bg-white overflow-hidden flex flex-col" }

      -# Left header (brand + nav)
      = render "shared/header"

      -# Stack ALL left elements with spacing
      %div{ class: "flex-1 min-h-0 flex flex-col space-y-3 p-3" }
        = render "lexical_patterns/current_pattern"

        -# Top: repo dropdown (fixed)
        = render "repositories/repo_dropdown"

        -# Bottom: scrollable area (repo_show + current_pattern)
        %div{ class: "flex-1 min-h-0 overflow-y-auto space-y-3" }
          - if @selected_id.present?
            = turbo_frame_tag "repo_show",
                src: repository_path(@selected_id),
                loading: "eager",
                class: "block"

    -# Divider
    %div{ class: "w-px bg-gray-300 mx-4" }

    -# Right: dynamic area (82%)
    %div{ class: "w-[82%] rounded-lg bg-white overflow-hidden flex flex-col" }
      = turbo_frame_tag "repo_right", class: "flex-1 overflow-y-auto" do
        = yield

= render template: "layouts/application"